.menu {
     position: relative;
     padding-top: 20px;
     padding-bottom: 10px;
     background-color: pink;
}

.home {
     padding: 16px;
}

.right{
     float: right;
}

.posts {
     display: block;
     text-decoration: none;
     color: black;
     border-width: 0.5px;
     padding: 20px;
     margin: 10px 0;
     border-color: black;
     border-style: solid;
}

.paginate{
     float: right;
}

.before, .next{
     display: inline-block;
     background-color: pink;
     padding: 5px;
     margin: 2px;
     cursor: pointer;
}

.before.none{
     cursor: default;
}

/*Override*/
