.menu {
     position: relative;
     padding-top: 20px;
     padding-bottom: 10px;
     background-color: pink;
}

.home {
     padding: 16px;
}

.right{
     float: right;
}

.posts{
     display: flex;
     border-width: 0.5px;
     border-color: black;
     border-style: solid;
     padding: 20px;
     margin: 10px 0;
}
.postsContent{
     width: 70%;
     padding: 10px;
}

.postsLink {
     text-decoration: none;
     color: black;
}

.postsImage{
     width: 30%;
     padding: 10px;
}

.postsImage > img{
     width: 100%;
}

.domain{
     font-size: 10px;
     margin-left: 10px;
     font-weight: normal;
     vertical-align: middle;
}

.external_url{
     text-decoration: none;
     color: black;
}

.paginate{
     float: right;
}

.before, .next{
     display: inline-block;
     background-color: pink;
     padding: 5px;
     margin: 2px;
     cursor: pointer;
}

.before.none{
     cursor: default;
}

/*Override*/
